*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.a{
    background: #064264;
    padding: 10px 0 30px 20px;
}
.a .head{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
.a .head .sas{
    width: 110px;
    background: #D65CB0;
    color: #fff;
    border: none;
    border-radius: 13px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
.a .head a button{
    cursor: pointer;
    background: #158CD0;
    border: none;
    width: 150px;
    font-size: 20px;
    padding: 10px;
    color: white;
}
.a .head a button img{
    width: 20px;
}
.a .mom{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding: 30px 100px;
    overflow: hidden;
}
.a .mom .img{
    width: 40%;
    overflow: hidden;
}
.a .mom .img img{
    width: 100%;
}
.a .mom .text{
    width: 55%;
    padding-top: 15vh;
}
.a .mom .text p{
    font-size: 20px;
    color: white;
    padding-bottom: 20px;
}
.a .mom .text h1{
    font-size: 50px;
    padding-bottom: 20px;
    color: #FFADE6;
    animation: color 3s infinite;
}
@keyframes color{
    0%{color: #FFADE6;}
    25%{color: #D65CB0;}
    50%{color: #158CD0;
    font-size: 52px;}
    75%{color: #D65CB0;
    font-size: 54px;}
    100%{color: #FFADE6;}
}
.a .mom .text div a{
    padding-right: 10px;
}
.a .mom .text div a img{
    width: 20px;
    animation: roll 3s infinite;
}

@keyframes roll{
    0%{transform: rotate(0deg)}
    50%{transform: rotate(360deg)}
    100%{transform: rotate(0deg)}
}
.a .fix {
    position: fixed;
    top: 70%;
    left: 97.5%;
    z-index: 999;
}
.a .fix .all{
    width: 14px;
    background: #44C7F4;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 8px;
    border-radius: 30px;
}

.a .fix .all a div {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    position: relative;
    top: -10px;
    margin-bottom: 5px;
    color: #fff;
}
.a .fix .all a div:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #fff;
}
.a .fix .all a div:hover{
    border-bottom-color: #FFADE6;
}
.a .fix .all a div:hover::after{
    border-top-color: #FFADE6;
}
.b{
    padding: 0  30px;
}
.b .mom{
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}
.b .mom .left{
    width: 40%;
    border-right: 5px solid #064264;
    padding-right: 20px;
    text-align: center;
}
.b .mom .left .top{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
.b .mom .left .top img{
    width: 30px;
}
.b .mom .left .top h1{
    font-size: 30px;
}
.b .mom .left .load .load1{
    height: 8px;
    background: #FFADE6;
    width: 80%;
}
.b .mom .left .load .load2{
    width: 100%;
    background: #158CD0;
    height: 8px;
}
.b .mom .left .load .load3{
    width: 100%;
    background: #158CD0;
    height: 8px;
}
.b .mom .left .load .load4{
    width: 100%;
    background: #158CD0;
    height: 8px;
}
.b .mom .left .load .load5{
    width: 100%;
    background: #158CD0;
    height: 8px;
}
.b .mom .left .load .load6{
    width: 100%;
    background: #158CD0;
    height: 8px;
}
.b .mom .left .text{
    color: #064264;
    padding-bottom: 10px;
    text-align: left;
}
.b .mom .left .tra{
    display: flex;
}
.b .mom .left .tra img{
    width: 20px;
 
}
.b .mom .left .tra p{
    font-size: 20px;
    color: #064264;
    padding-left: 20px;
}
.b .mom .left button{
    background: #064264;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
.b .mom .left button img{
    width: 15px;
}
.b .mom .right{
    display: flex;
    width: 58%;
    padding: 20px;
    padding-top: 0;
}
.b .mom .right .lefti{
    width: 70%;
}
.b .mom .right .lefti .top{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
.b .mom .right .lefti .top img{
    width: 30px;
}
.b .mom .right .lefti .top h1{
    font-size: 30px;
}
.b .mom .right .lefti .tra{
    display: flex;
}
.b .mom .right .lefti .tra img{
    width: 20px;
    padding-bottom : 20px;
}
.b .mom .right .lefti .tra p{
    font-size: 20px;
    color: #064264;
    padding-left: 10px;
}
.b .mom .right .righti{
    width: 15%;
}
.b .mom .right .righti img{
    width: 100%;
}
.b .mom .right .lefti p{
    padding-bottom: 20px;
}
.c{
    background: #064264;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.c .img{
    width: 10%;
}
.c .img img{
    width: 100%;
}
.c .row{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-top: 50px;
}
.c .row .box{
    background: #fff;
    width: 22%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 30px 0;
}
.c .row .box img{
    width: 50%;
}
.d{
    padding: 30px;
}
.d .top{
    border-left: 4px solid #5C5A5A;
    padding-left: 5px;
    padding-bottom: 10px;
}
.d .top img{
    width: 30px;
}
.d .top h1{
    font-size: 40px;
    font-weight: 100;
}
.d .top p{
    font-size: 20px;
}
.d .mom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.d .mom a{
    width: 24%;
    margin-top: 10px;
    overflow: hidden;
}
.d .mom a:hover img{
    transform: scale(1.2);
}
.d .mom a img{
    width: 100%;
    transition: all 2s;
}
.e{
    background: #064264;
    padding: 30px;
}
.e .top{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #fff;
    border-bottom-style: dotted;
}
.e .top h1{
    font-size: 30px;
    color: #fff;
}
.e .top img{
    width: 30px;
}
.e .form{
    text-align: center;
}
.e .form p{
    font-size: 30px;
    padding-top: 20px;
    text-decoration: underline;
    color: white;
}
.e .form form{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 80px;
}
.e .form form input{
    width: 49%;
    height: 40px;
    margin-bottom: 30px;
    background: none;
    border: 3px solid #fff;
    padding: 0 6px;
    color: #fff;
    outline: none;
}
.e .form form input::placeholder{
    color: #fff;
}
.e .form form textarea{
    width: 100%;
    height: 200px;
    resize: none;
    margin-bottom: 30px;
    background: none;
    border: 3px solid #fff;
    padding: 0 6px;
    color: #fff;
    outline: none;
    padding-top: 5px;
}
.e .form form textarea::placeholder{
    color: #fff;
}
.e .form form button{
    background: none;
    color: #fff;
    border: 3px solid #fff;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
}
.e .fas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
    text-align: center;
}
.e .fas div img{
    width: 50px;
    padding-bottom: 10px;
}
.e .fas p{
    font-size: 20px;
    color: #fff;
}
/*********************************************************************************************************************************/
@media screen and (max-width: 1000px){
    .a .mom .img{
        width: 100%;
        padding-top: 50px;
    }
    .a .mom .text{
        width: 100%;
    }
    .a .mom{
        height: fit-content;
    }
    .a .fix{
        left: 93%;
    }
}
@media screen and (max-width: 700px){
    .a .mom{
        padding: 20px  10px;
    }
    .b .mom .left, .b .mom .right{
        width: 100%;
        border-right: none;
    }
    .b .mom{
        flex-wrap: wrap-reverse;
    }
    .b .mom .right{
        justify-content: space-between;
    }
}
@media screen and (max-width: 600px){
    .a{
        padding-bottom: 0;
    }
    .a .mom{
        padding: 20px  10px;
    }
    .a .mom .text h1{
        font-size: 40px;
        padding-bottom: 20px;
        color: #FFADE6;
        animation: color 3s infinite;
    }
    @keyframes color{
        0%{color: #FFADE6;}
        25%{color: #D65CB0;}
        50%{color: #158CD0;
        font-size: 42px;}
        75%{color: #D65CB0;
        font-size: 44px;}
        100%{color: #FFADE6;}
    }
    .a .mom .text p{
        font-size: 17px;
    }
    .a .fix {
        left: 92%;
    }
    .a .fix:hover .text p {
        display: none;
    }
    .a .head a button{
        width: 100px;
        font-size: 15px;
    }
    .a .head a button img{
        width: 15px;
    }
    .a .head .sas{
        width: 90px;
    }
    .b{
        padding: 0 10px;
    }
    .b .mom .right{
        padding: 0;
    }
    .b .mom .right .lefti{
        width: 80%;
    }
    .b .mom .right .lefti .tra{
        padding-bottom: 10px;
    }
    .b .mom .right .lefti .top h1, .b .mom .left .top h1{
        font-size: 20px;
    }
    .b .mom .right .lefti .top img, .b .mom .left .top img {
        width: 20px;
    }
    .b .mom .right .lefti p{
        font-size: 15px;
    }
    .b .mom .right .lefti .tra p, .b .mom .left .tra p{
        font-size: 15px;
    }
    .c .img{
        transform: rotate(90deg);
        width: 20%;
    }
    .c{
        justify-content: center;
        flex-wrap: wrap;
    }
    .c .row{
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
    }
    .c .row .box{
        width: 48%;
        margin-bottom: 10px;
    }
    .d{
        padding: 30px 10px;
    }
    .d .mom a{
        width: 48%;
    }
    .e{
        padding: 30px 10px;
    }
    .e .form form{
        margin: 0 10px;
    }
    .e .form form input{
        width: 100%;
    }
    .e .fas div{
        width: 100%;
        padding-bottom: 20px;
    }

}
@media screen and (max-width: 330px){
    .a .mom .text h1{
        font-size: 30px;
    }
    @keyframes color{
        0%{color: #FFADE6;}
        25%{color: #D65CB0;}
        50%{color: #158CD0;
        font-size: 32px;}
        75%{color: #D65CB0;
        font-size: 34px;}
        100%{color: #FFADE6;}
    }
    .a .mom .text p{
        font-size: 15px;
    }
    .a .fix .all{
        width: 10px;
    }
    .a .fix .all a div {
        border: 6px solid transparent;
        border-bottom-color: #fff;
        top: -6px;
        margin-bottom: 3px;
    }
    .a .fix .all a div:after {
        left: -6px;
        top: 6px;
        border: 6px solid transparent;
        border-top-color: #fff;
    }
  
}
